.nomen1 {
    text-align: center;
}
.n55{
    text-align: center;
    font-size: 50%;
} 
.cardapio1 {
    text-align: center ;
    font-size: 26px;
    height: 80px;

}
.NossaProductLine{
    text-align: center ;
    font-size: 26px;
    height: 10px;
}
.pq {
    text-align: center;
    padding: 20px;
}
.n3 {
    height: 70px;
   
}

.p1 {
    color: black;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 20px;
    position: relative;
}
.p1::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.p1 :hover ::after{
    border: 10px solid black;
    width: 100%;

}

.hmocha {
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.mochav {
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.pp {
    font-size: 20px;
}
.n55{
    font-size:15px ;
}
.qw{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.shop1{
    font-size:20px;
}
.lj {
    display: flex;
    justify-content: space-around ;
}
.lj2 {
    display: flex;
    justify-content: space-around ;
    
}
.FlatCaramel{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.FlatCaramel1{
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.Matchavv1{
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.Matchavv{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.shoppp{
    display: flex;
    justify-content: space-around ;
}
.ççç{
    display: flex;
    justify-content: space-around ; 
    font-size: 20px;
}
.n7{
    display: flex;
    justify-content: space-around ;
}
.n8{
    display: flex;
    justify-content: space-around ;
}
.n9{
    display: flex;
    justify-content: space-around ;
}
.White2{
    font-size: 13px;
}
.Kraft2{
    font-size: 13px;
}
.Black2{
    font-size: 13px;
}
.Drip2{
    font-size: 13px;
}
.Drip33{
    font-size: 13px;
}
.Black22{
    font-size: 13px;
}
.n10{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.n44{
    display:flex;
    justify-content:space-around;
    padding:90px;
}
    
.nn44{
    font-size: 18px;
    padding-top: 80px;

}
.t1{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.t2{
    font-size: 18px;
    padding-top: 80px;
}
.c1{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
}
.Blackc1{
    font-size: 18px;
    padding-top: 80px;
}  
.c3{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
} 
.cc3{
    font-size: 16px;
    padding-top: 80px;
}
.c4{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
}
.cc4{
    font-size: 16px;
    padding-top: 80px; 
}
.c5 {
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.cc5{
    font-size: 16px;
    padding-block: 80px; 
}
.x2{
    text-align: center;
    height: 40px;
}
.xx2{
    text-align: center;
    
}
.n80{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.c6{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.c7{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.hr{
    display: flex;
    justify-content: space-around ;
    width: 100%;
}
.Sobremesas1{
    text-align: center;
    font-size: 20px;
}
.comida1{
    text-align: center;
    font-size: 20px;
}
.Nossosinvestidores1{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.Nossosinvestidores{
    text-align: center;
    font-size: 30px;
}
.comidas9{
    display: flex;
    justify-content: space-around ;
    
}
.padaria1{
    text-align: center;
    font-size: 18px;
}
.padoca1{
    text-align: center;
    font-size: 18px;
}
.doces1{
    text-align: center;
    font-size: 18px;
}
.comida{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.comida2{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.padoca2{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.padoca3{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.docess1{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}
.height{
    height: 80px;
}
.heightg{
    height: 50px;
}
.docess2{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}
.height1{
    height:50px;
}
.shopp3{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}
.shopp4{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}
.height00{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
    
}
.height33{
    display: flex;
    justify-content: space-around ;
    padding: 10px;
    
}
.nomen11{
   text-align: center;
}
.n44{
    border: 2px solid black;
    border-radius: 15px;
}
.n11:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.t1{
    border: 2px solid black;
    border-radius: 15px;
}
.c1{
    border: 2px solid black;
    border-radius: 15px;
}
.c3 {
    border: 2px solid black;
    border-radius: 15px;
}
.c4 {
    border: 2px solid black;
    border-radius: 15px;
}
.c5 {
    border: 2px solid black;
    border-radius: 15px;
}

.b1:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.b2:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.b3:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.b4:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.b5:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.ins{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}
.height111{
    height: 40px;
}
.insta:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.youtube:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.spot:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.nomen1g{
   text-align: center;
}
.qw{
    text-align: left;
}
.hr{
    text-align:center;
}
.mais1:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.mokaclube:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.gocoffee:hover {
    border: 1px solid black;
    border-radius: 15px;
}
.cafelucca:hover {
    border: 1px solid black;
    border-radius: 15px;
} 
.sobi{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
}

.juntaagua{
    border: 2px solid black;
    border-radius: 15px;
}
.juntaagua{
    display:flex;
    justify-content:space-around;
    padding:90px;
}
.aguaa2{
    text-align: center;
}


.nude2{
    border: 2px solid black;
    border-radius: 15px;
}
.nude2{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.nude55{
    text-align: center;
}
.agua3{
    text-align: center;
}
.aguacajalll{
    border: 2px solid black;
    border-radius: 15px;
}
.aguacajalll{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.aguacaja2{
    text-align: center;
}
.Lemonaid5{
    border: 2px solid black;
    border-radius: 15px;
}
.Lemonaid5{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.Lemonaid22{
    text-align: center;
}
.sucoamarelo22{
    border: 2px solid black;
    border-radius: 15px;
}
.sucoamarelo22{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.sucoamarelo20{
    text-align: center;
}
.sucoverdep{
    border: 2px solid black;
    border-radius: 15px;
}
.sucoverdep{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.sucoverdeppp{
    text-align: center;
    }

.v602{
    border: 2px solid black;
    border-radius: 15px;
}
.v602{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.v603{
    text-align: center;
}
.v60g1{
    border: 2px solid black;
    border-radius: 15px;
}
.v60g1{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.v60g3{
    text-align: center;
}
.v60m2{
    border: 2px solid black;
    border-radius: 15px;
}
.v60m2{
    display:flex;
    justify-content:space-around;
    padding:50px;
}
.v60m4{
    text-align: center;
}

.heightKKKK{
    height: 12px;
}

.heightggg{
    height: 70px;
}

.heightggg1{
    height: 70px;
}



.tuto{
    background-color: 	#F5DEB3;
    box-shadow: 0px 3px 10px #dbae72 ;
}
.nav-bar { 	
    display: flex;
    justify-content: space-between;
    padding:  1rem 12rem;
}
.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.login-button button {
    border: none;
    background-color: 	#F5DEB3;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:730px ){
    .nav-bar {
        padding: 1,5rem 4rem;
    }
    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open{
        display: block;
    }


}
.vd{
    text-align: center;
}
.styles_container__AqV5t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #000;
    width: 100%;
    height: 100%;
}
.bott{
    color: #000;
}
.cafeurbano{
    color: #000000;
    font-size: 26px;
}
.hisppp{
    text-align: center;
    font-size: 20px;
}
.k11{
    text-align: center;
    display: block;
    padding: 10px;
}
.hjk{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    padding: 20px
}
.chatoks{
    text-align: center;
    font-size: 18px;
}
.gmail22{
    font-size: 24px;
}
.gmail333{
    font-size: 24px;
}
.heightpppp{
    height: 20px;
}
.tecno1{
    font-size: 20px;
    text-align: center;
}

comida


.Croissant-11{
    display: flex;
    justify-content: space-around;
    padding: 110px;

}
.Croissant-2{
    text-align: center;
    
}
.Waffle-1{
    display: flex;
    justify-content: space-around;
    padding: 110px;
}
.Waffle-2{
    text-align: center;
}
.Toast-1{
    display: flex;
    justify-content: space-around;
    padding: 110px;
}
.Toast-2{
    text-align: center;
}
.heightggg12{
    height: 100px;
}
.heightggg123{
    height: 200px;
}
