.nomen1 {
    text-align: center;
}
.n55{
    text-align: center;
} 
.cardapio1 {
    text-align: center ;
    font-size: 23px;
    height: 80px;

}
.pq {
    text-align: center;
    padding: 20px;
}
.n3 {
    height: 70px;
}

.p1 {
    color: black;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 20px;
    position: relative;
}
.p1::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.p1 :hover ::after{
    border: 10px solid black;
    width: 100%;

}

.hmocha {
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.mochav {
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.pp {
    font-size: 20px;
}
.n55{
    font-size:15px ;
}
.qw{
    display: flex;
    justify-content: space-around;
}
.shop1{
    font-size:20px;
}
.lj {
    display: flex;
    justify-content: space-around ;
}
.lj2 {
    display: flex;
    justify-content: space-around ;
    
}
.FlatCaramel{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.FlatCaramel1{
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.Matchavv1{
    font-size:17px;
    text-align: center;
    padding-block: 17px;
}
.Matchavv{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.shoppp{
    display: flex;
    justify-content: space-around ;
}
.ççç{
    display: flex;
    justify-content: space-around ; 
    font-size: 20px;
}
.n7{
    display: flex;
    justify-content: space-around ;
}
.n8{
    display: flex;
    justify-content: space-around ;
}
.n9{
    display: flex;
    justify-content: space-around ;
}
.White2{
    font-size: 13px;
}
.Kraft2{
    font-size: 13px;
}
.Black2{
    font-size: 13px;
}
.Drip2{
    font-size: 13px;
}
.Drip33{
    font-size: 13px;
}
.Black22{
    font-size: 13px;
}
.n10{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.n44{
    display:flex;
    justify-content:space-around;
    padding:90px;
}
    
.nn44{
    font-size: 18px;
    padding-top: 80px;

}
.t1{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.t2{
    font-size: 18px;
    padding-top: 80px;
}
.c1{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
}
.Blackc1{
    font-size: 18px;
    padding-top: 80px;
}  
.c3{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
} 
.cc3{
    font-size: 16px;
    padding-top: 80px;
}
.c4{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
    
}
.cc4{
    font-size: 16px;
    padding-top: 80px; 
}
.c5 {
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.cc5{
    font-size: 16px;
    padding-block: 80px; 
}
.x2{
    text-align: center;
    height: 40px;
}
.xx2{
    text-align: center;
    
}
.n80{
    display: flex;
    justify-content: space-around ;
    padding: 110px;
}
.c6{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.c7{
    display: flex;
    justify-content: space-around ;
    padding: 110px
}
.hr{
    display: flex;
    justify-content: space-around ;
    
}
.Sobremesas1{
    text-align: center;
    font-size: 20px;
}
.comida1{
    text-align: center;
    font-size: 20px;
}
.Nossosinvestidores1{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.Nossosinvestidores{
    text-align: center;
    font-size: 30px;
}
.comidas9{
    display: flex;
    justify-content: space-around ;
    
}
.padaria1{
    text-align: center;
    font-size: 18px;
}
.padoca1{
    text-align: center;
    font-size: 18px;
}
.doces1{
    text-align: center;
    font-size: 18px;
}
.comida{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.comida2{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.padoca2{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}
.padoca3{
    display: flex;
    justify-content: space-around ;
    padding: 20px
}